<div *ngIf="cocktail">
  <div class="col-md-6">
    <img src="#" alt="image">
  </div>
  <div class="col-md-6">
    <h2>{{cocktail.name}}</h2>
    <span>Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.

Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta felis euismod semper.</span>
    <ul>
      <li *ngFor='let part of cocktail.parts'>{{part.ingredient}} <span>({{part.amount}})</span></li>
    </ul>
  </div>
</div>
