<h3>Order your cocktail</h3>
<form [formGroup]='orderCocktail' (ngSubmit)='onSubmit(orderCocktail)'>
  <label>name</label>
  <input type='text' formControlName='userName' class='form-control'>
  <label>Email</label>
  <input type='email' formControlName='userEmail' class='form-control'>
  <input type='submit' class='btn btn-primary' value = 'give me the booze'>
</form>

<p>{{ orderCocktail.value | json }}</p>
