<h3>add Cocktail</h3>

<form [formGroup]='addCocktailForm' (ngSubmit)='onSubmit(addCocktailForm )'>
  <label>CocktailName</label>
  <input formControlName='name' class='form-control'>
  <div formArrayName='ingredients'>
    <div *ngFor='let ingredient of addCocktailForm.controls.ingredients.controls; let i=index' [formGroupName]='i'>
      <h4>Ingredient #{{ i + 1 }}</h4>
      <label>Ingredient</label>
      <input formControlName='name' class='form-control'>
      <label>amount (in parts: 1 part is 25ml)</label>
      <input type='number' min='0' max='5' step='1' formControlName='amount' class='form-control'>
      <button *ngIf='addCocktailForm.controls.ingredients.controls.length > 1' (click)='deleteRow(i)' class='bn btn-danger'>Delete ingredient</button>
    </div>
  </div>
  <button *ngIf='addCocktailForm.controls.ingredients.controls.length < 5' type='button' (click)='addNewRow()' class='btn btn-primary'>Add new Ingredient</button>
  <input type='submit' class='btn btn-primary' value='submit '>
</form>

<p>{{addCocktailForm.value | json}}</p>
