<div class='card' *ngFor='let cocktail of cocktails' [routerLink]="['/cocktail', cocktail.id]">
  <div class='card-body'>
    <h2 class='card-title'>{{cocktail.name}}</h2>
    <ul class='list-group list-group-flush'>
      <li *ngFor='let part of cocktail.parts' class='list-group-item'>
        {{part.ingredient}} -- {{part.amount}}
      </li>
    </ul>
  </div>
  <footer class='blockquote-footer'>
    <a [routerLink]="['/order/',cocktail.id]" class='btn btn-primary btn-sm'>Order Cocktail</a>
  </footer>
</div>
