<form #f = ngForm (ngSubmit)='updatePositions(f)' >
  <div class='position' *ngFor='let position of positions' >
    <label>Position {{position.id}}</label>
    <input type='text' name= 'position'  disabled [(ngModel)] = 'position.id' #position = ngModel>
    <label>Contains:</label>
    <select name='ingredient' [(ngModel)] ='position.ingredient' #ingredient='ngModel'>
      <option *ngFor='let ingredient of ingredients' [selected]='ingredient.name === position.ingredient' >
        {{ingredient.name}}
      </option>
    </select>
    <input type='number' name='CapacityLeft' [(ngModel)]='position.capacityLeft' #capacityLeft='ngModel'>
  </div>
  <input type='submit' value = 'update positions'>
</form>
<p>{{ f.value | json}}</p>
